
<link rel="stylesheet" href="~/css/stylesheet.css" />

<div id="about">
    <h1 id="creators">The Creators</h1>
    <div id="toptwo">
        <div class="dev">
            <div>
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/snake-plant-2536664-2124486.png" />
            </div>
            <div>
                <h2>Ivan Warren</h2>
                <p>[INSERT BLURB HERE?]</p>
                <a href="https://www.linkedin.com/in/ivan-warren-3425b31b8/">CONNECT WITH ME ON LINKEDIN!</a>
            </div>
        </div>
        <div class="dev">
            <div>
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/sage-potted-plant-1668194-1416125.png" />
            </div>
            <div>
                <h2>Sam Holton</h2>
                <p>[INSERT BLURB HERE?]</p>
                <a href="https://www.linkedin.com/in/samuelholton/">CONNECT WITH ME ON LINKEDIN!</a>
            </div>
        </div>
    </div>
    <div class="dev" id="bottomone">
        <div>
            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/rubber-potted-plant-1668162-1416093.png" />
        </div>
        <div>
            <h2>Candace Goodson</h2>
            <p>[INSERT BLURB HERE]</p>
            <a href="https://www.linkedin.com/in/candgoods/">CONNECT WITH ME ON LINKEDIN!</a>
        </div>
    </div>
</div>


