<a class="nav-link text-dark" asp-area="" asp-controller="Garden" asp-action="MemberProfileForm">MeProfile</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Garden" asp-action="Weather">MeWeather</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Garden" asp-action="MemberGarden">MeGarden</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Garden" asp-action="MemberProfile">MeSettings</a>